body{
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: red
}

.wist{
    background-color: blue;
    color: white;
    width: 110px;
    margin: 0px 0px 100px 0px;
}

.list li {
    border: 1px solid 
}

.font{
    background-color: green;
    color: white;
}

.let{
    background-color: green;
    color: white;
    padding: 40px;
}

.lot{
    margin-left: 110px;
}